In [3]:
import pandas as pd
import scipy.stats as st

In [4]:
OrderForm=pd.read_csv("D:\Excel R\Assignments\Assignment 3\Costomer+OrderForm.csv")
OrderForm

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [19]:
print('Here we want to test whether there is any significance difference between the defective % at various centres!')
print('Therefore, we have:-')
print('H0: There is no significant difference between the defective % at various centres!')
print('H1: There is a significant difference between the defective % at various centres!')

Here we want to test whether there is any significance difference between the defective % at various centres!
Therefore, we have:-
H0: There is no significant difference between the defective % at various centres!
H1: There is a significant difference between the defective % at various centres!

In [20]:
p=OrderForm['Phillippines'].value_counts()
p

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [21]:
i=OrderForm['Indonesia'].value_counts()
i

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [22]:
m=OrderForm['Malta'].value_counts()
m

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [23]:
ind=OrderForm['India'].value_counts()
ind

Error Free    280
Defective      20
Name: India, dtype: int64

In [24]:
data={'Phillippines':[279,21],'Indonesia':[267,33],'Malta':[269,31],'India':[280,20]}

In [25]:
data

{'Phillippines': [279, 21],
 'Indonesia': [267, 33],
 'Malta': [269, 31],
 'India': [280, 20]}

In [26]:
data1=pd.DataFrame(data,index=['Error Free', 'Defective'])

In [27]:
data1

            Phillippines  Indonesia  Malta  India
Error Free           279        267    269    280
Defective             21         33     31     20

In [28]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Error Free to Defective
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  2 non-null      int64
 1   Indonesia     2 non-null      int64
 2   Malta         2 non-null      int64
 3   India         2 non-null      int64
dtypes: int64(4)
memory usage: 80.0+ bytes

In [29]:
chi_2_result=st.chi2_contingency(data1)

In [30]:
chi_2_result

(5.6255707762557075,
 0.13131805109501588,
 3,
 array([[273.75, 273.75, 273.75, 273.75],
        [ 26.25,  26.25,  26.25,  26.25]]))

In [31]:
p_value=chi_2_result[1]
print('Test statistic=',chi_2_result[0])
print('p-value=',p_value)
print('Degrees of freedom',chi_2_result[2])

Test statistic= 5.6255707762557075
p-value= 0.13131805109501588
Degrees of freedom 3

In [32]:
if p_value>0.05:
    print('Here, p-value is greater than 0.5, so we can accept H0!')
    print('There is no significant difference in defective % of different centres!')
else:
    print('Here, p-value is less than 0.5, so we can accept H1!')
    print('There is a significant difference in defective % of different centres!')

Here, p-value is greater than 0.5, so we can accept H0!
There is no significant difference in defective % of different centres!