In [1]:
import pandas as pd
import scipy.stats as st

In [2]:
BuyerRatio=pd.read_csv("D:\Excel R\Assignments\Assignment 3\BuyerRatio.csv")

In [3]:
BuyerRatio

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [4]:
print('Here, we want to test whether there is any relationship between the region and gender of customer and sale of the product!')
print('Therefore, we have:-')
print('H0: Sale of the product is independent of the gender and region of customer!')
print('H1: Sale of the product is dependent upon the gender and region of the customer!')

Here, we want to test whether there is any relationship between the region and gender of customer and sale of the product!
Therefore, we have:-
H0: Sale of the product is independent of the gender and region of customer!
H1: Sale of the product is dependent upon the gender and region of the customer!

In [5]:
br_df=BuyerRatio.iloc[:,1:5]
br_df

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [10]:
chi_2_test=st.chi2_contingency(br_df)
chi_2_test

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [14]:
chi_2=[['','Test Statistic','p-value'],['Sample Data',chi_2_test[0],chi_2_test[1]]]
Chi_Square_Result=pd.DataFrame(chi_2)
Chi_Square_Result

             0               1         2
0               Test Statistic   p-value
1  Sample Data        1.595946  0.660309

In [17]:
p_value=chi_2_test[1]
if p_value>0.05:
    print('Here, p-value is greater than 0.5, so we can accept H0!')
    print('Sale of the product is independent of the gender and region of customer!')
else:
    print('Here, p-value is less than 0.5, so we can accept H1!')
    print('Sale of the product is dependent upon the gender and region of the customer!')

Here, p-value is greater than 0.5, so we can accept H0!
Sale of the product is independent of the gender and region of customer!